In [6]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list('ABCD'))
df2 = pd.DataFrame(np.zeros((3,4)), columns=list("ABCD"))
df3 = pd.DataFrame(np.ones((4,3)), index=[1,5,10,15])
df1

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15